html {
    margin: 0 auto;
    width: 1310;
}
[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 10px 0 0px 0px;
}

header {
    display: inline;
    margin: 10px;
}

h1 { 
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
    margin-left: 40px;
    padding-right: 100px;
    size: 40px;
    color: #007d7b;
}

li { 
    float: left;
    padding-left: 100px;
    padding-right: 15px;
    list-style: none;
    size: 20px;
}

ul {
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #007d7b;
}

body {
    background-color: black;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0 80px;

}

main {
    background-color: #ffffff;
    color: black;
}

h2 {
    size: 40px;
    color: #000000;
}

#about {
    text-align: right;
    display: inline-block;
    margin: 10px;
}

img {
    float: left;
}

.small {
    width: 420px;
}

.large {
    width: 420px;
}

#gallery {
    width: 1300px;
    display: inline-block;
    flex: left;
}

.small, .large {
    position: relative;
    margin-left: 8px;
    margin-bottom: 8px;
}

.caption {
    position: absolute;
}

#contact {
    text-align: center;
}

aside h2 {
    size: 40px;
}

aside p {
    size: 20px;
}

label {
    size: 16px;
    float:left;
    margin-left: 380px;
}

input {
    width: 520px;
    padding: 8px;
    margin: 5px;
    size: 16px;
    color:#007d7b;
    font-weight: bold;
}

input::placeholder {
    color:#007d7b;
    font-weight: bold;
}

#submit {
    background-color: #007d7b;
    width: 300px;
    color:#ffffff;
    border-radius: 6px;
    border-style: none;
    padding: 9px;
    size: 16px;
}
